.background-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.background-top {
    background-color: #03a9f4;
    background-image: url('../../../assets/img/04-bg.png'); 
    height: 400px;
    background-repeat: no-repeat;
    background-position: center top;
    font-family: 'Poppins-Medium';
    animation: moveClouds 20s linear infinite;
}

@keyframes moveClouds {
    from {
        background-position: 100% top; /* Початок з правого боку */
    }
    to {
        background-position: 0 top; /* Рух до лівого боку */
    }
}


.rocket {
    position: absolute;
    width: 150px; /* Розмір ракети */
    height: auto;
    left: 10%;
    bottom: 20px;
    animation: flyUpAndDown 5s ease-in-out infinite; /* Додаємо анімацію руху ракети */
}

@keyframes flyUpAndDown {
    0% {
        transform: translateY(0); /* Початкова позиція */
    }
    50% {
        transform: translateY(-30px); /* Ракета піднімається на 30px */
    }
    100% {
        transform: translateY(0); /* Повертається вниз */
    }
}

.background-bottom {
    background-color: #ffffff;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.content-wrapper {
    position: relative;
    z-index: 10;
    margin-top: -150px; 
    margin-bottom: -240px;
}

.discount {
    text-align: center;
    padding: 10px 10px 60px 10px;
    color: #ffffff;

    .discount-section-title {
        font-size: 36px;
        font-weight: bold;
        margin-top: -170px;
        margin-bottom: 10px;
    }

    .discount-section-description {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 80px;
    }

    .discount-cards-wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .discount-cards {
        background-color: #ffffff;
        padding: 40px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 500px; 
        margin-right: 0; 

        .discount-table {
            width: 100%;
            border-spacing: 15px;

            .discount-card {
                text-align: center;
                background-color: #f9f9f9;
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
                }

                .discount-value {
                    font-size: 28px;
                    color: #f75e2e;
                    margin-bottom: 10px;
                }

                .discount-details {
                    font-size: 14px;
                    color: #555;

                    .discount-pages {
                        font-size: 16px;
                        color: #0287c3;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .discount-special {
        background-color: #0287c3;
        width: 30%;
        max-width: 300px;
        padding: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        position: relative; 
        left: -30px;

        .discount-special-wrapper {
            border: 3px dashed #ffffff;
         
            padding: 30px;
            position: relative;

            .discount-special-title {
                font-size: 20px;
                color: #ffffff;
                margin-bottom: 20px;
            }

            .discount-scissors {
                position: absolute;
                top: -20px;
                left: 15px;
            }

            .discount-offer {
                background-color: #03a9f3;
                border-radius: 10px;
                padding: 20px;
                text-align: center;

                .discount-stars {
                    position: absolute;
                    top: -20px;
                    right: 1px;
                }

                .discount-get {
                    font-size: 18px;
                    color: #0287c3;
                }

                .discount-percentage {
                    font-size: 36px;
                    font-weight: bold; 
                    color: #e2f55d;
                    margin: 10px 0;
                }

                .discount-subtext {
                    font-size: 14px;
                    color: white;
                }
            }

            .discount-balloon {
                position: absolute;
                bottom: -10px;
                right: -60px;
                animation: rotateBalloon 6s linear infinite; 
            }
            @keyframes rotateBalloon {
                0% {
                    transform: rotate(0deg); 
                }
                50% {
                    transform: rotate(15deg); 
                }
                100% {
                    transform: rotate(0deg); 
                }
            }

            .discount-code {
                font-size: 16px;
                font-style: italic;
                color: #ffffff;

                .discount-highlight {
                    color: #f75e2e;
                    font-weight: bold;
                }
            }
        }
    }
}



.testimonial-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    gap: 300px;
    font-family: 'Poppins-Medium';
  
    .arrow {
      cursor: pointer;
      width: 50px;
      height: 50px;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  
    .testimonial-content {
      max-width: 500px;
      text-align: center;
  
      .testimonial-image {
        width: 80px;
        height: 80px;
        margin: 0 auto 30px auto;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #ddd;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      h1 {
        font-weight: bold;
        margin-bottom: 40px;  
        font-size: 38px;      
      }
  
      p {
        margin-top: 15px;
        font-size: 18px;
        color: #8b8e91;
      }
  
      .author-name {
        display: block;
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #0287c3;
      }
      .date{
        color: #ced0d1;
      }
    }
  }
  