<footer class=" container-fluid navbar">
        <div class="container">
          <div class="logo">
            <img src="../../../assets/img/logo.png" alt="Logo">
            
          </div>
          <nav class="menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Order Now</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Why Us</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </nav>
        </div>
      
        <section class="container-fluid  text-white py-4">
            <div class="container">
              <div class="row g-4">
                <div class="row">
                    <div class="col-12">
                      <hr class="bg-white">
                    </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <h3>Section number 1</h3>
                  <ul class="list-unstyled">
                    <li>But I must explain to you how</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <h3>Section number 2</h3>
                  <ul class="list-unstyled">
                    <li>But I must explain to you how</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <h3>Section number 3</h3>
                  <ul class="list-unstyled">
                    <li>But I must explain to you how</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <h3>Section number 4</h3>
                  <ul class="list-unstyled">
                    <li>But I must explain to you how</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                    <li>Account of the system</li>
                    <li>Great explorer of the truth</li>
                    <li>No one rejects, dislikes</li>
                    <li>Mistaken idea of denouncing</li>
                    <li>Praising pain was born</li>
                  </ul>
                </div>
                <div class="row"></div>
                    <div class="col-12">
                      <hr class="bg-white">
                    </div>
              </div>
            </div>
          </section>
          
          <section class="container-fluid  text-white py-3">
            <div class="container">
              <div class="row align-items-center text-center">
                <div class="col-md-3 col-sm-6 mb-4">
                  <p class="footer-copyright">Copyright B &copy; 2025 BlueEssaySite.net <br> All rights reserved.</p>
                </div>
                <div class="col-md-3 col-sm-6 mb-4">
                  <div class="d-flex justify-content-center gap-3">
                    <img src="../../../assets/img/facebook.png" alt="Facebook" class="icon-img">
                    <img src="../../../assets/img/twitter.png" alt="Twitter" class="icon-img">
                    <img src="../../../assets/img/pinterest.png" alt="Pinterest" class="icon-img">
                    <img src="../../../assets/img/google-plus.png" alt="Google+" class="icon-img">
                  </div>
                </div>
                <div class="ol-md-3 col-sm-6 mb-4">
                  <div class="contacts-container">
                    <div class="contact-item">
                      <img src="../../../assets/img/footer-phone.png" alt="Phone" class="icon-img">
                      <span class="contact-text">Toll free: +3 044 111 2732</span>
                    </div>
                    <div class="contact-item">
                      <img src="../../../assets/img/footer-email.png" alt="Email" class="icon-img">
                      <span class="contact-text">Email: blueessaysite@gmail.com</span>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="footer-section">
            <div class="rocket-container">
              <img src="../../../assets/img/03-img-4.png" alt="Flying Rocket" class="flying-rocket">
            </div>
          </section>
          
          
          
</footer>