<div class="container-fluid steps-section"></div>
    <div class="container">
    <div class="text-center mb-5">
        <h2 class="section-title">Our Simple 4-Step Procedure</h2>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-2 step-card position-relative">
            <div class="step-icon-container mx-auto">
                <img src="../../../assets/img/03-img-1.png" alt="Step 1" class="step-icon">
            </div>
            <h3 class="step-title">Step 1</h3>
            <p class="step-text">Complete the short order form to buy a paper from our easy essay writing service.</p>
        </div>
        <div class="d-none d-md-block col-md-1 text-center bracket">
        </div>
        <div class="col-md-2 step-card position-relative">
            <div class="step-icon-container mx-auto">
                <img src="../../../assets/img/02-img-2.png" alt="Step 2" class="step-icon">
            </div>
            <h3 class="step-title">Step 2</h3>
            <p class="step-text">We allocate your order to a suitably-qualified writer with specialist knowledge.</p>
        </div>
        <div class="d-none d-md-block col-md-1 text-center bracket">
        </div>
        <div class="col-md-2 step-card position-relative">
            <div class="step-icon-container mx-auto">
                <img src="../../../assets/img/03-img-3.png" alt="Step 3" class="step-icon">
            </div>
            <h3 class="step-title">Step 3</h3>
            <p class="step-text">Our Quality Assurance specialists then check the completed paper.</p>
        </div>
        <div class="d-none d-md-block col-md-1 text-center bracket">
        </div>
        <div class="col-md-2 step-card position-relative">
            <div class="step-icon-container mx-auto">
                <img src="../../../assets/img/03-img-4.png" alt="Step 4" class="step-icon">
            </div>
            <h3 class="step-title">Step 4</h3>
            <p class="step-text">The order you placed is sent to you before the deadline.</p>
        </div>
    </div>
    </div>
</div>