<div class="container-fluid advantages">
    <div class="text-center">
        <h2 class="section-titl">Advantages of Our Writing Services</h2>
    </div>
    <div class="row justify-content-center">
        
        <div class="col-md-3">
            <div class="advantage-card">
                <div class="icon-container">
                    <img src="../../../assets/img/02-img-1.png" alt="Icon 1">
                </div>
                <h3 class="card-title">Professionally-qualified writing experts</h3>
                <p class="card-text">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.
                </p>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="advantage-card">
                <div class="icon-container">
                    <img src="../../../assets/img/02-img-2.png" alt="Icon 2">
                </div>
                <h3 class="card-title">Commitment to deliver papers by deadline</h3>
                <p class="card-text">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.
                </p>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="advantage-card">
                <div class="icon-container">
                    <img src="../../../assets/img/02-img-3.png" alt="Icon 3">
                </div>
                <h3 class="card-title">Top-quality, at a great price – guaranteed</h3>
                <p class="card-text">
                    But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.
                </p>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button class="btn btn-primary">Place an order</button>
    </div>
</div>
