<div class="background-wrapper">
    <div class="background-top"></div>
    <div class="content-wrapper">
        <div class="discount container-fluid">
            <div class="container">
                <h2 class="discount-section-title">Our Discount Program</h2>
                <p class="discount-section-description">
                    By utilizing elements and principles of Material Design, we were <br> able to create a framework that incorporates
                </p>
                <div class="row discount-cards-wrapper">
                    <div class="col-7 discount-cards">
                        <table class="discount-table">
                            <tr>
                                <td class="discount-card">
                                    <h4 class="discount-value">4% <br> OFF</h4>
                                    <p class="discount-details">for more than <br> <span class="discount-pages">15 pages</span></p>
                                </td>
                                <td class="discount-card">
                                    <h4 class="discount-value">5% <br> OFF</h4>
                                    <p class="discount-details">for more than <br> <span class="discount-pages">20 pages</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="discount-card">
                                    <h4 class="discount-value">10% <br> OFF</h4>
                                    <p class="discount-details">for more than <br> <span class="discount-pages">50 pages</span></p>
                                </td>
                                <td class="discount-card">
                                    <h4 class="discount-value">15% <br> OFF</h4>
                                    <p class="discount-details">for more than <br> <span class="discount-pages">100 pages</span></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-4 discount-special">
                        <div class="discount-special-wrapper dashed-border">
                            <h4 class="discount-special-title">Try our service & get huge discounts</h4>
                            <img class="discount-scissors" src="../../../assets/img/scissors.png" alt="Scissors">
                            <div class="discount-offer">
                                <img class="discount-stars" src="../../../assets/img/stars.png" alt="Stars">
                                <p class="discount-get">Get</p>
                                <p class="discount-percentage">15% OFF</p>
                                <p class="discount-subtext">for your 1st order</p>
                            </div>
                            <img class="discount-balloon" src="../../../assets/img/balloon.png" alt="Balloon">
                            <p class="discount-code">Use <span class="discount-highlight">discount15</span><br> as discount code</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-bottom"></div>
</div>
